#marker-ic {
  width: 114px;
  height: 26px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.8);
  border-radius: 3px;
  position: absolute;
  text-align: center;
}

#marker-ic span {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 5px;
	border-radius: 3px;
}

#marker-ic .good {
	background: red url('icons/good.png') 0 0 no-repeat;
}
#marker-ic .meh {
	background: yellow url('icons/meh.png') 0 0 no-repeat;
}
#marker-ic .bad {
	background: green url('icons/bad.png') 0 0 no-repeat;
}
#marker-ic .facebook {
	background: blue url('icons/facebook.gif') 0 0 no-repeat;
}